.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust as needed */
}

mat-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}
